<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="global.css">
    <title>Quote Levelling - Enderecos</title>
</head>

<body class="media">
    <div class="login">
        <h1>Quote Levelling</h1>
    </div>
    <div>
    <h2 class="login">Página de Login</h2>
        <section id="buttons">
            <p class="login">
            <button class="outline"><a href="/oauth2/authorization/github" class="nes-btn">
                <i class=""></i> Github</a></button> 
            </p>
        </section>
    </div>
    
</body>

</html>