<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../global.css">
    <title>Quote Levelling - Cotações</title>
</head>
<body>

    <nav>
        <span th:text="${user}"></span>
        <img th:src="${avatar}" alt="avatar do usuario" class="nes-avatar is-medium is-rounded" >
        <a href="/logout" class="nes-btn is-error">
            Sair
        </a>
    </nav>

    <h1>QuoteLevelling</h1>

    <h2 th:text="#{cotacao.create}"></h2>

    <section class="grid">
        <div th:each="material : ${materiais}" class="nes-container is-dark with-title">
            <p class="title" th:text="'Código da Material: ' + ${material.id_material}"></p>
            <p th:text="'Nome: ' + ${material.nome_material}"></p>
            <p th:text="'Quantidade: ' + ${material.qtd_material}"></p>
            <p th:text="'Valor unitario: ' + ${material.valUnit_material}"></p>
            <p th:text="'Descricao: ' + ${material.descricao_material}"></p>
        </div>
    </section>


    <form th:action="@{'/cotacoes'}" class="container" method="POST">
        <div class="nes-field">
            <label for="materialId">Selecione o Código do Material</label>
            <input type="number" name="materialId" id="materialId" class="nes-input" required multiple>
        </div>

        <div class="nes-field">     
            <label for="quantidade">Selecione a Quantidade</label>
            <input type="number" name="quantidade" id="quantidade" class="nes-input" required multiple>
        </div>

        <input type="submit" class="nes-btn" value="Cadastrar" name="submitBtn">
        <a class="nes-btn is-error" href="/cotacoes">Cancelar</a>
    </form>

    <p th:if="${error}" th:text="${error}" class="error-message"></p>

</body>
</html>