<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../global.css">
    <title>Quote Levelling - Novo Endereco</title>
</head>
<body>
    <nav class="nav">
        <h1>QuoteLevelling</h1>
          <details class="dropdown">
            <summary role="button" class="secondary">Sair/Voltar</summary>
            <ul>
              <li><a href="/enderecos">Voltar</a></li>
              <li><a href="/menu">Menu</a></li>
              <li><a href="/logout">Sair</a></li>
            </ul>
          </details>
    </nav>
    
    <form th:action="@{'/enderecos'}" class="container" method="POST" th:object="${endereco}">
        <h2 class="media nav" th:text="#{endereco.create}"></h2>
        <div class="nes-field">
            <label for="rua_endereco">Rua</label>
            <input th:field="*{rua_endereco}" class="nes-input">
        </div>

        <div class="nes-field">
            <label for="cidade_endereco">Cidade</label>
            <input th:field="*{cidade_endereco}" class="nes-input">
        </div>

        <div class="nes-field">
            <label for="uf_endereco">UF</label>
            <input th:field="*{uf_endereco}" class="nes-input">
        </div>

        <div class="nes-field">
            <label for="cep_endereco">CEP</label>
            <input th:field="*{cep_endereco}" class="nes-input" th:classappend="${#fields.hasErrors('cep_endereco')} ? is-error">
            <span class="nes-text is-error" th:errors="*{cep_endereco}"></span>
        </div>

        <div class="nes-field">
            <label for="numero_endereco">Número</label>
            <input th:field="*{numero_endereco}" class="nes-input">
        </div>

        <input type="submit" class="nes-btn" value="Cadastrar" name="submitBtn">
        
        
    </form>
    <script src="../theme.js"></script>

</body>
</html>